* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #926239;
  line-height: 1.6;
}

#banner {
  background-image: url("img/landing.jpg");
  height: 100vh;
  /* vh is the whole height and width of what you can see without scrolling */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  /* the  items in this container will automatically align on a row
   */
  /* the default is flex row  */
  /* but we want columns */
  flex-direction: column;
  /* justify content aligns the to the center vertically */
  justify-content: center;
  /* align-item align them centrally horizontally */
  align-items: center;
  text-align: center;
  padding: 0 25px;
}

#banner h1 {
  font-size: 50px;
  /* line-heights dosent have units? */
  line-height: 1.2;
}

#banner p {
  font-size: 20px;
}

#banner .button {
  font-size: 18px;
  text-decoration: none;
  color: #926239;
  border: #926239 1px solid;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
}

#banner .button:hover {
  background-color: #929292;
  color: #fff;
}

/* .section-a {
  padding: 20px;
  background: #926239;
  color: #fff;
  text-align: center;
}

.section-b {
  padding: 20px;
  background: #f4f4f4;
  text-align: center;
}

.section-c {
  display: flex;
  flex-direction: column;
}

.section-c div {
  padding: 20px;
}

.section-c .box1,
.section-c .box3 {
  background: #926239;
  color: #fff;
}

.section-c .box2 {
  background: #f9f9f9;
  color: #333;
} */
